<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buliyiren.wehelp.mapper.MessageFunMapper">

	<!-- 结果集 -->
	<resultMap id="messageResult" type="com.buliyiren.wehelp.model.Message">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="typeId" column="type_id" />
		<result property="stateId" column="state_id" />
		<result property="content" column="content" />
		<result property="contacts" column="contacts" />
		<result property="locale" column="locale" />
		<result property="longitude" column="longitude" />
		<result property="latitude" column="latitude" />
		<result property="createDate" column="create_date" />
		<result property="publishedDate" column="published_date" />
	</resultMap>

	<select id="select" parameterType="Integer" resultMap="messageResult">
		select * from t_message where id=#{id}
	</select>

 	<select id="selectParam" parameterType="java.util.Map" resultMap="messageResult">
		select * from t_message
		<include refid="paramWhereCondition"/>
		<if test="orderColumn != null">
 			order by ${orderColumn}
 			<if test="orderTurn != null">
 				${orderTurn}
 			</if>
 		</if>
 	</select> 

	<insert id="insert" parameterType="com.buliyiren.wehelp.model.Message">
		insert into t_message(user_id, type_id, state_id, content, contacts, locale, longitude, latitude, create_date, published_date)
			values(#{userId}, #{typeId}, #{stateId}, #{content}, #{contacts}, #{locale}, #{longitude}, #{latitude}, #{createDate}, #{publishedDate})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_message(user_id, type_id, state_id, content, contacts, locale, longitude, latitude, create_date, published_date) values
		<foreach item="message" collection="list" separator=", ">
			(#{message.userId}, #{message.typeId}, #{message.stateId}, #{message.content}, #{message.contacts}, #{message.locale}, #{message.longitude}, #{message.latitude}, #{message.createDate}, #{message.publishedDate})
		</foreach>
	</insert>

	<update id="update" parameterType="com.buliyiren.wehelp.model.Message">
		update t_message
		<trim suffixOverrides=",">
		<set>
			<if test="userId != null">user_id=#{userId},</if>
			<if test="typeId != null">type_id=#{typeId},</if>
			<if test="stateId != null">state_id=#{stateId},</if>
			<if test="content != null">content=#{content},</if>
			<if test="contacts != null">contacts=#{contacts},</if>
			<if test="locale != null">locale=#{locale},</if>
			<if test="longitude != null">longitude=#{longitude},</if>
			<if test="latitude != null">latitude=#{latitude},</if>
			<if test="createDate != null">create_date=#{createDate},</if>
			<if test="publishedDate != null">published_date=#{publishedDate},</if>
		</set>
		</trim>
		where id=#{id}
	</update>

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="message" separator=";">
		update t_message
		<trim suffixOverrides=",">
		<set>
			<if test="message.userId != null">user_id=#{message.userId},</if>
			<if test="message.typeId != null">type_id=#{message.typeId},</if>
			<if test="message.stateId != null">state_id=#{message.stateId},</if>
			<if test="message.content != null">content=#{message.content},</if>
			<if test="message.contacts != null">contacts=#{message.contacts},</if>
			<if test="message.locale != null">locale=#{message.locale},</if>
			<if test="message.longitude != null">longitude=#{message.longitude},</if>
			<if test="message.latitude != null">latitude=#{message.latitude},</if>
			<if test="message.createDate != null">create_date=#{message.createDate},</if>
			<if test="message.publishedDate != null">published_date=#{message.publishedDate},</if>
		</set>
		</trim>
		where id=#{message.id}
		</foreach>
	</update>

	<delete id="delete" parameterType="Integer">
		delete from t_message where id=#{id}
	</delete>

	<delete id="deleteParam" parameterType="java.util.Map">
		delete from t_message
		<include refid="paramWhereCondition"/>
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		delete from t_message where id in 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<foreach collection="list" item="pk" separator=","> 
 				#{pk}
			</foreach>
		</trim>
	</delete>

	<select id="count" resultType="int">
		select count(*) from t_message
	</select>

	<select id="countParam" parameterType="java.util.Map" resultType="int">
		select count(*) from t_message
		<include refid="paramWhereCondition"/>
	</select>

	<sql id="paramWhereCondition">
		<trim prefixOverrides="and">
		<where>	
			<choose>
			<when test="stringUseLike != null and stringUseLike == 1">
				<if test="id != null">and id=#{id}</if>
				<if test="userId != null">and user_id=#{userId}</if>
				<if test="typeId != null">and type_id=#{typeId}</if>
				<if test="stateId != null">and state_id=#{stateId}</if>
				<if test="content != null">and content like #{content}</if>
				<if test="contacts != null">and contacts like #{contacts}</if>
				<if test="locale != null">and locale like #{locale}</if>
				<if test="longitude != null">and longitude=#{longitude}</if>
				<if test="latitude != null">and latitude=#{latitude}</if>
				<if test="createDate != null">and create_date=#{createDate}</if>
				<if test="publishedDate != null">and published_date=#{publishedDate}</if>
			</when>
			<otherwise>
				<if test="id != null">and id=#{id}</if>
				<if test="userId != null">and user_id=#{userId}</if>
				<if test="typeId != null">and type_id=#{typeId}</if>
				<if test="stateId != null">and state_id=#{stateId}</if>
				<if test="content != null">and content=#{content}</if>
				<if test="contacts != null">and contacts=#{contacts}</if>
				<if test="locale != null">and locale=#{locale}</if>
				<if test="longitude != null">and longitude=#{longitude}</if>
				<if test="latitude != null">and latitude=#{latitude}</if>
				<if test="createDate != null">and create_date=#{createDate}</if>
				<if test="publishedDate != null">and published_date=#{publishedDate}</if>
			</otherwise>
			</choose>
			<if test="betweenAndColumn != null">
 				 and ${betweenAndColumn} between ${betweenStart} and ${betweenEnd}
 			</if>
 		</where>
		</trim>
	</sql>

</mapper>
