<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buliyiren.wehelp.mapper.OrganizationFunMapper">

	<!-- 结果集 -->
	<resultMap id="organizationResult" type="com.buliyiren.wehelp.model.Organization">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="parentId" column="parent_id" />
		<result property="available" column="available" />
	</resultMap>

	<select id="select" parameterType="Integer" resultMap="organizationResult">
		select * from t_organization where id=#{id}
	</select>

 	<select id="selectParam" parameterType="java.util.Map" resultMap="organizationResult">
		select * from t_organization
		<include refid="paramWhereCondition"/>
		<if test="orderColumn != null">
 			order by ${orderColumn}
 			<if test="orderTurn != null">
 				${orderTurn}
 			</if>
 		</if>
 	</select> 

	<insert id="insert" parameterType="com.buliyiren.wehelp.model.Organization">
		insert into t_organization(name, parent_id, available)
			values(#{name}, #{parentId}, #{available})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_organization(name, parent_id, available) values
		<foreach item="organization" collection="list" separator=", ">
			(#{organization.name}, #{organization.parentId}, #{organization.available})
		</foreach>
	</insert>

	<update id="update" parameterType="com.buliyiren.wehelp.model.Organization">
		update t_organization
		<trim suffixOverrides=",">
		<set>
			<if test="name != null">name=#{name},</if>
			<if test="parentId != null">parent_id=#{parentId},</if>
			<if test="available != null">available=#{available},</if>
		</set>
		</trim>
		where id=#{id}
	</update>

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="organization" separator=";">
		update t_organization
		<trim suffixOverrides=",">
		<set>
			<if test="organization.name != null">name=#{organization.name},</if>
			<if test="organization.parentId != null">parent_id=#{organization.parentId},</if>
			<if test="organization.available != null">available=#{organization.available},</if>
		</set>
		</trim>
		where id=#{organization.id}
		</foreach>
	</update>

	<delete id="delete" parameterType="Integer">
		delete from t_organization where id=#{id}
	</delete>

	<delete id="deleteParam" parameterType="java.util.Map">
		delete from t_organization
		<include refid="paramWhereCondition"/>
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		delete from t_organization where id in 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<foreach collection="list" item="pk" separator=","> 
 				#{pk}
			</foreach>
		</trim>
	</delete>

	<select id="count" resultType="int">
		select count(*) from t_organization
	</select>

	<select id="countParam" parameterType="java.util.Map" resultType="int">
		select count(*) from t_organization
		<include refid="paramWhereCondition"/>
	</select>

	<sql id="paramWhereCondition">
		<trim prefixOverrides="and">
		<where>	
			<choose>
			<when test="stringUseLike != null and stringUseLike == 1">
				<if test="id != null">and id=#{id}</if>
				<if test="name != null">and name like #{name}</if>
				<if test="parentId != null">and parent_id=#{parentId}</if>
				<if test="available != null">and available=#{available}</if>
			</when>
			<otherwise>
				<if test="id != null">and id=#{id}</if>
				<if test="name != null">and name=#{name}</if>
				<if test="parentId != null">and parent_id=#{parentId}</if>
				<if test="available != null">and available=#{available}</if>
			</otherwise>
			</choose>
			<if test="betweenAndColumn != null">
 				 and ${betweenAndColumn} between ${betweenStart} and ${betweenEnd}
 			</if>
 		</where>
		</trim>
	</sql>

</mapper>
